div.header{
    width: 100%;
    background-color: rgb(232, 195, 241);
    display: grid;
    grid-template-columns: 100%;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
div.thumbnail{
    text-align: center;
}
body{
    background-color: antiquewhite;
}
div.head{
    width: 100%;

}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
img {
    width: 100%;
    height: auto;
    text-align: center;
}
video{
    width: 100%;
    height: auto;

}


